html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #ffe500;
  margin: 0;
  padding-bottom: .5em;
  line-height: 1.5;
}

body {
  margin: 0;
}

h1 {
  font-family: "Sigmar One", cursive;
  color: #b20953;
  text-align: center;
  font-size: 3em;
  margin: 0;
  margin-bottom: .1em;
}

nav {
  text-align: center;
  display: block;
  margin: 0;
}

nav ol {
  text-align: left;
}

a:hover {
  color: #cc1465;
}

ul {
  padding-left: 0;
  margin: .1em;
}

ul li {
  list-style-type: none;
  text-decoration: none;
  display: inline;
  text-align: left;
}

.current {
  background-color: #b20953;
  color: #fff;
}

a {
  border-radius: 3px;
  color: #fff;
  background-color: #b2a212;
  font-family: Georgia, sans-serif;
  padding: .5em;
  text-decoration: none;
  font-size: 1.125rem;
  text-align: left;
}

h2 {
  font-family: "Sigmar One", cursive;
  color: #b20953;
  text-align: left;
  font-size: 1.875rem;
  line-height: 1.5;
  margin-left: .4em;
  margin-right: .3em;
  background-color: #fff;
}

img {
  display: block;
  width: 100%;
  padding: 0 .6em .4em;
}

main {
  background-color: #fff;
}

p {
  color: #2f2d13;
  font-size: 1.126rem;
  margin-left: .4em;
  margin-right: .3em;
  line-height: 1.5;
  margin-bottom: 0;
}

footer {
  background-color: #ffe500;
  text-align: center;
  padding: 1em;
}
